body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #090A18;
  }

  #container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    max-width: 1300px;
    margin-top: 0%; /* Ajuste del margen superior */
  }

  #calendar {
    width: 60%;
    background-color: #222;
    color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-top:3%;
  }


  #user-list {
    width: 50%; /* Aumentamos el ancho de la lista de usuarios */
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0%; /* Eliminamos el margen superior o lo ajustamos según necesidad */
    height: 688px; /* Dejamos que el contenedor crezca según el contenido */
    overflow-y: auto; /* Eliminamos la barra de desplazamiento */
    padding-left:50x;
  }

  #search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left:30px;
    
  }

  #search-bar input {
    flex: 1;
    padding: 12px 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.2em;
    background-color: rgba(247, 247, 247, 1);
    font-family: "EB Garamond";
    font-size: 24px;
  }

  #search-bar button {
    position: relative;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.3em;
    cursor: pointer;
    right: 50px;
  }
  #search-bar input:focus {
    background-color: #e0e0e0;
  }
  #search-bar i {
    position: relative;
    left: 0px;
    font-size: 18px;
    color: #aaa;
  }

  .user-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 0px; /* Ajuste en el margen entre tarjetas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: box-shadow 0.3s;
  }

  .user-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .user-card h4 {
    margin: 0;
    font-size: 24px; /* Ajusté el tamaño del texto */
    font-weight: bold;
    color: #333;
  }

  .user-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    
    
  }

  .action-buttons button {
    padding: 12px 25px;
    font-size: 0.8em; /* Ajusté el tamaño de los botones */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 120px; /* Ajusté el ancho de los botones */
    font-size: 16px;
  }

  .edit-button {
    background-color: #322A7FF2;
    color: #F7F7F7;
    font-family: "EB Garamond";
    font-size: 20px;

  }

  .delete-button {
    background-color: #DC730A;
    color: white;
    font-family: "EB Garamond";
    font-size: 20px;

  }

  /* Estilos del modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
padding: 20px; /* Aumenta el padding para dar espacio */
border-radius: 8px;
width: 70%; /* Ocupará el 80% del ancho de la pantalla */
max-width: 1000px; /* Limita el ancho máximo */
height: auto;
max-height: 100vh;
overflow-y: auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
overflow: hidden;
  }

  .form-container {
    background: #f7f7f7;
border: 2px solid #000; /* Bordes más visibles */
width: 100%; /* Ajusta el formulario al ancho del modal */
padding: 20px; /* Espacio interno para separar los elementos del borde */
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
color: #000;
border-radius: 8px;
box-sizing: border-box; /* Asegura que los bordes y el padding estén incluidos */
  }

  .form-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .form-column {
    width: 48%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-family: 'EB Garamond';
font-size: 24px;
  }

  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(81, 92, 100, 0.3);
    font-family: "EB Garamond";
    font-size: 16px;
  }

  .form-group textarea {
    resize: none;
    height: 100px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .buttons button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 16px;
    font-size: 24px;
    cursor: pointer;
  }

  .btn-reservar,
  .btn-guardar {
    background-color: #E8EC07;
    color: black;
    font-family: "EB Garamond";

  }

  .btn-cancelar {
    background-color: #DC730A;
    color: black;
    margin-top: 15px;
    font-family: "EB Garamond";

  }
  .nombre{
      font-family: "EB Garamond";
      
  }
  .nomm{
      font-family: "Maname";
  }
  .til{
    font-family: 'EB Garamond';
font-size: 28px;
text-align:center;
  }