body {
  margin: 0;
  padding: 0;
  background-color: #090526;
  display: flex;
  font-family: 'Merriweather';
  overflow: hidden;
}

/* Barra lateral */
.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #2a236a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: width 0.3s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.sidebar.open {
  width: 250px;
}

/* Botón de toggle */
.toggle-btn {
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: white;
}
.logo {
  display: none;
  margin: 10px;
  width: 100%;
  text-align: center;
}
.sidebar.open .toggle-btn {
  display: none;
}
.sidebar.open .logo {
  display: block;
}
.logo img {
  max-width: 170px;
  cursor: pointer;
  padding-top: 50px;
}

/* Estilos de la lista de navegación */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.sidebar ul li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.sidebar ul li:hover {
  background-color: rgba(81, 92, 100, 0.4);
}
.sidebar ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.sidebar ul li span {
  font-size: 14px;
  color: white;
  display: none;
}
.sidebar.open ul li span {
  display: inline-block;
}

/* Información del administrador */
.admin-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  border-top: 0 solid #ddd;
  opacity: 0;
  transition: opacity 0.3s;
}
.sidebar.open .admin-info {
  opacity: 1;
}
.admin-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.admin-info span {
  font-size: 14px;
  color: white;
  display: none;
}
.sidebar.open .admin-info span {
  display: block;
}

/* Íconos de usuario y salir */
.bottom-icons {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bottom-icons img {
  width: 30px;
  height: 30px;
  margin: 10px 0;
}
.bottom-icons.hidden {
  display: none;
}

/* Contenido principal */
.content {
  margin-left: 200px;
  padding: 20px;
  flex: 1;
  transition: margin-left 0.3s;
  overflow-y: hidden;
  width: 77.8%;
}
.sidebar.open ~ .content {
  margin-left: 250px;
}
.profile-container {
  border-radius: 16px;
  padding: 30px;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  color: white;
  background-color: #1d247f !important;
}
.left-section {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  column-gap: 60px;
}
.form-group {
  margin-bottom: -5px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'Merriweather';
}
.form-group input {
  width: 100%;
  padding: 16px 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: #f1f1f1;
  color: #333;
  font-family: 'Merriweather';
  text-align: center;
}
.form-group .password-container {
  display: flex;
  align-items: center;
  position: relative;
}
.form-group .password-container input {
  padding-right: 50px;
}
.form-group .eye-icon {
  position: absolute;
  right: 32px;
  cursor: pointer;
  font-size: 18px;
  color: #696969;
}
.form-group .edit-button {
  background-color: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
}
.right-section {
  width: 35%;
  text-align: center;
}
.profile-image {
  margin-bottom: 20px;
}
.profile-image img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-top: 40px;
  margin-left: 30px;
}
.edit-button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 8px;
  background: #1f0dce !important;
  font-size: 14px;
  cursor: pointer;
  margin-top: -5px;
}
.stats {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather';
}
.stats div {
  font-size: 20px;
  margin-top: 35px;
  margin-left: 30px;
}
.right-section .edit-button {
  margin-top: 20px;
}
.edit-box {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #3498db;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}
.edit-box img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.profile-container {
  background-color: #2d3e72;
  padding: 30px;
  border-radius: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  color: white;
}
.content-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: 'Merriweather';
  margin-top: -16px;
}
.guardar-button {
  display: inline-block;
  padding: 15px 24px;
  color: black;
  border: none;
  border-radius: 8px;
  background: #e8ec07 !important;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Merriweather';
  margin-left: 30px;
}
.fecha {
  font-family: 'Merriweather';
}

.cambiar-button {
  display: inline-block;
  padding: 25px 15px;
  color: white;
  border: none;
  border-radius: 16px;
  background: #4b3fbf !important;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Merriweather';
  margin-left: 30px;
}
.form-group .eye-icon {
  position: absolute;
  right: 65px;
  cursor: pointer;
  font-size: 18px;
  color: #696969;
}
/* Modal para cambiar contraseña */
.password-recovery {
  background: linear-gradient(90deg, #00076c 0%, #07006c 46.89%, #0d014e 100%);
  color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  width: 550px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.password-recovery h2 {
  margin: 0 0 20px 0;
  font-size: 32px;
  font-family: 'Merriweather';
}
.password-recovery p {
  margin: 0 0 20px 0;
  text-align: left;
  font-size: 20px;
  font-family: 'Merriweather';
  width: 100%;
  margin-left: 24%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.password-recovery input {
  width: 70%;
  padding: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Merriweather';
}
.password-recovery button {
  background-color: #e8ec07;
  color: #16225a;
  border: none;
  padding: 15px 50px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Merriweather';
}
.password-recovery button:hover {
  background-color: #e0c200;
}
.password-recovery .back {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Merriweather';
}
.password-recovery .back i {
  margin-left: 5px;
  font-size: 1.2em;
}
.password-recovery .back a {
  text-decoration: none;
  color: white;
}
.password-recovery .back a:hover {
  color: #e8ec07;
}
.eye-icon {
  position: absolute;
  right: 80px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #696969;
}

/* Modal - oculto por defecto */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal.show {
  display: flex;
}
