body {
    margin: 0;
    padding: 0;
    background-color: #090526;
    display: flex;
    font-family: 'Merriweather';
    overflow: hidden;
}

/* Barra lateral */
.sidebar {
    width: 60px;
    height: 100vh;
    background-color: #2A236A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: width 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.sidebar.open {
    width: 250px;
}

/* Botón de toggle */
.toggle-btn {
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.logo {
    display: none;
    margin: 10px;
    width: 100%;
    text-align: center;
}
.sidebar.open .toggle-btn {
    display: none;
}
.sidebar.open .logo {
    display: block;
}
.logo img {
    max-width: 170px;
    cursor: pointer;
    padding-top: 50px;
}

/* Estilos de la lista de navegación */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.sidebar ul li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.sidebar ul li:hover {
    background-color: rgba(81, 92, 100, 0.4);
}
.sidebar ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.sidebar ul li span {
    font-size: 14px;
    color: white;
    display: none;
}
.sidebar.open ul li span {
    display: inline-block;
}

  
  .content {
    transition: transform 0.3s ease; /* Para animar el cambio */
    transform: translateX(0); /* Posición inicial */
  }
  
  .sidebar.open ~ .content{
    margin-left: 250px; /* Igual al ancho de la barra lateral */
  }
/* Información del administrador */
.admin-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    border-top: 0 solid #ddd;
    opacity: 0;
    transition: opacity 0.3s;
}
.sidebar.open .admin-info {
    opacity: 1;
}
.admin-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.admin-info span {
    font-size: 14px;
    color: white;
    display: none;
}
.sidebar.open .admin-info span {
    display: block;
}

/* Íconos de usuario y salir */
.bottom-icons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.bottom-icons img {
    width: 30px;
    height: 30px;
    margin: 10px 0;
}
.bottom-icons.hidden {
    display: none;
}

/* Contenido principal */
.content {
    margin-left: 60px;
    padding: 20px;
    flex: 1;
    transition: margin-left 0.3s;
    overflow-y: hidden;
}
.sidebar.open~ .content {
    margin-left: 250px;
}
h1 {
    font-family: "Lucida Bright", serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 0;
}
.employees-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    max-width: 100%;
}
.employee-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
}

/* Buscador y filtros */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 2%;
    width: 96%;
}
.search-bar input {
    font-family: "Lucida Bright", serif;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}
.filters {
    display: flex;
    gap: 10px;
}
.filters button {
    font-family: "Lucida Bright", serif;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f7f7f7;
    transition: 0.3s;
    color: black;
}
.filters button.active {
    background-color: #27AE60;
    color: white;
    border-color: #27AE60;
}
.filters button:hover {
    background-color: #ecf0f1;
    color: black;
}
.add-btn {
    font-family: "Lucida Bright", serif;
    background-color: #DD8C3A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.add-btn:hover {
    background-color: rgba(220, 115, 10, 0.80);
}

/* Personal */
.employee-item {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 54px;
    width: calc(100% - 30px);
    margin: 0 auto;
}
.employee-img {
    width: 102px;
    height: 102px;
    object-fit: cover;
    border-radius: 8px;
}
.employee-info {
    flex: 1;
}
.employee-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.employee-title {
    font-family: "Lucida Bright", serif;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin: 0;
}
.employee-price {
    font-family: "Lucida Bright", serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.employee-description {
    font-family: "Maname";
    font-size: 18px;
    color: #666;
}
.employee-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.employee-actions button {
    font-family: "Lucida Bright", serif;
    margin: 4px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.edit-btn {
    background-color: #27AE60;
    color: white;
}
.edit-btn:hover {
    background-color: #1E8449;
}
.delete-btn {
    background-color: #D64040;
    color: white;
}
.historial-btn {
    background-color: #146AB5;
    color: white;
}
.delete-btn:hover {
    background-color: #972020; 
}
.historial-btn:hover {
    background-color: #0C5594; 
}
#user-list {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0%;
    height: 528px;
    overflow-y: auto;
    scrollbar-width: none;
}
#user-list::-webkit-scrollbar {
    display: none;
}
.form-row {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 6%;
}
.forms-row {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.form-rows {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
.forms-rows {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3%;
    padding: 0 8px;
}
/* Modal para agregar personal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 416px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal-content h2 {
    text-align: center;
    margin: 16px 0;
    margin-bottom: 24px;
}
.modal-content label {
    display: block;
    font-weight: bold;
    width: 168px;
    margin-left: 8%;
}
.select-tx {
    width: 202px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal-content input {
    width: 184px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.btn_agregar {
    width: 26%;
    padding: 10px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: yellow;
    color: black;
    height: 48px;
    margin-bottom: 40px;
    margin-right: 82px;
}
.btn_cerrar {
    background-color: #515C64;
    color: white;
    font-family: "EB Garamond";
    font-size: 16px;
    border-radius: 8px;
    border: none;
    width: 70px;
    height: 35px;
    cursor: pointer;
}
.close-btn {
    color: #515C64;
    font-size: 16px;
    width: 25px;
    height: 25px;
    margin-left: 95%;
    cursor: pointer;
    border: none;
    background-color: white;
}
.employee-name,
.employee-position,
.employee-status,
.employee-salary {
    width: 167px;
    text-align: center;
}


/* Modal para editar personal */
.modaledit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modaledit-content {
    background-color: white;
    padding: 20px 20px 0 20px;

    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modaledit-content h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}
.txt-info {
    display: block;
    font-weight: bold;
    width: 88px;
    margin-left: 8%;
}
.selectedit-tx {
    width: 202px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.info {
    width: 184px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.buttons-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.buttons-cerrar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4px 0 8px 92%;
}
.btn-reporte, .btn-observacion {
    width: 24%;
    padding: 12px 32px;
    border: none;
    font-family: 'Merriweather';
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    background: rgba(50, 42, 127, 0.95);
    color: white;
    height: 61px;
    margin: 0 24px;
}
.btn-update {
    width: 24%;
    padding: 12px 32px;
    border: none;
    font-family: 'Merriweather';
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    background: #E8EC07;
    color: black;
    height: 61px;
    margin: 60px 24px 16px;
}
.btn-cerrar {
    background-color: #515C64;
    color: white;
    font-family: "EB Garamond";
    font-size: 16px;
    border-radius: 8px;
    border: none;
    width: 70px;
    height: 35px;
    cursor: pointer;
}
.close-btn {
    color: #515C64;
    font-size: 16px;
    width: 25px;
    height: 16px;
    margin-left: 95%;
    cursor: pointer;
    border: none;
    background-color: white;
}
.btn-confirm{
    width: 32%;
    padding: 12px 16px;
    border: none;
    font-family: 'Merriweather';
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    background: #E8EC07;
    color: black;
    height: 61px;
    margin: 16px 72px 16px;
}
.employee-name,
.employee-position,
.employee-status,
.employee-salary {
    width: 167px;
    text-align: center;
}
.principal{
    width: 280px;
    margin-left: 8px;
}
.info-principal{
    width: 280px;
    height: 32px;
    font-family: 'Merriweather';
    padding: 8px;
    text-align: center;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 4px;

}
.secundaria{
    width: 280px;
    margin-left: 8px;
    border: 1px solid;
    border-radius: 8px;
}
.info-secundaria{
    width: 264px;
    font-family: 'Maname';
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px;
    height: 80px;
}
.txt-infoSec {
    display: block;
    font-weight: bold;
    width: 136px;
    padding: 8px 72px;
    text-align: center;
}
.txt-num {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4%;
    padding: 0 132px;
}
textarea {
    border: none;
    outline: none;
    resize: none;
}
.modale {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.informacion {
    width: 644px;
    border: 3px solid;
    border-radius: 8px;
    padding-top: 2%;
}
.datos {
    display: flex;
}
.linea {
    width: 95%;
    color: black;
    margin-bottom: 24px;
}
.empleado{
    width: 250px;
    margin-top: 50%;
    margin-right: 8px;
}


/* css modal */


/* Estilos para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;

}

.modal-content {
    background-color: #fff;
    color: #000;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001; /* Mayor que la capa de fondo */
    
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

h2 {
    font-family: 'Merriweather', sans-serif;
    margin-bottom: 20px;
}

.history-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    background-color:#D9D9D9;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Merriweather';            
}

.history-button:hover {
    background-color: #0f6cbd;
}

.detail-card {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: #dce8ff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    text-align: left;
    font-family: 'Merriweather';
}

.return-button {
    display: block;
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    background-color: #E8EC07;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Merriweather';          
}

.return-button:hover {
    background-color: #e0d908;
}
